/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 QRTECH
 */

/ {
	zephyr,user {
		io-channels = <&adc1 5>;
	};

	gpio_keys {
		compatible = "gpio-keys";

		accel_interrup: adc_in1_pb4 {
			label = "FF";
			gpios = <&gpiob 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_3>;
		};
	};

	aliases {
		ff0 = &accel_interrup;
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>; // 400kHz

	/* Needed for DT_NODELABEL(si7021) in humidity_sensor.c */
	si7021: si7021@40 {
		compatible = "zephyr,i2c-device";
		reg = <0x40>;
		label = "SI7021";
	};

	tcs34725: tcs34725@29 {
    	compatible = "zephyr,i2c-device";  /* generic node for raw I2C access */
        reg = <0x29>;                      /* 7-bit address of TCS34725 */
        label = "TCS34725";
        status = "okay";
    };
};

&usart1 {
	dmas = <&dmamux1 11 18 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)
		&dmamux1 1 17 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
	dma-names = "tx", "rx";
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&gpiob {
	status = "okay";
};

/ {
    leds {
        compatible = "gpio-leds";
        rgb_led_r: rgb_led_r { gpios = <&gpiob 8  GPIO_ACTIVE_LOW>; label = "LED_R"; };
        rgb_led_b: rgb_led_b { gpios = <&gpioa 9  GPIO_ACTIVE_LOW>; label = "LED_B"; };
        rgb_led_g: rgb_led_g { gpios = <&gpiob 10 GPIO_ACTIVE_LOW>; label = "LED_G"; }; 
    };

    aliases {
        led0r = &rgb_led_r;
        led0g = &rgb_led_g;
        led0b = &rgb_led_b;
    };
};